.table-pro {
  width: 100%;
  border: solid #000 1px;
  font-size: 8px;
}

.table-pro tbody {
  width: 100%;
}

.table-pro thead {
  background: #5D737E;
}

.table-liquidacion {
  .o_form_sheet{
    padding: 0 !important;
  }
  .o_list_table {
    .text-danger, .text-warning {
      color: #fff !important;
    }

    .text-warning {
      background: #a58202;
      background-color: #a58202 !important;
      position: relative;
    }
    .text-muted{
      background: rgba(0,0,0,0.1);
    }

    .text-warning:hover:after {
      background: #111;
      background: rgba(0, 0, 0, .8);
      border-radius: .5em;
      bottom: 2em;
      color: #fff;
      content: 'No activo';
      display: block;
      left: 4em;
      padding: .3em 1em;
      position: absolute;
      text-shadow: 0 1px 0 #000;
      white-space: nowrap;
      z-index: 1000;
      user-select: none;
    }

    .text-warning:hover:before {
      border: solid;
      border-color: #111 transparent;
      border-color: rgba(0, 0, 0, .8) transparent;
      border-width: .4em .4em 0 .4em;
      bottom: 1.6em;
      content: "";
      display: block;
      left: 5em;
      position: absolute;
      user-select: none;
      z-index: 99;
    }

    .text-danger {
      background-color: #F20B0D !important;
    }

    .o_data_cell.text-danger {
      position: relative;
    }

    .o_data_cell.text-danger:hover:after {
      background: #111;
      background: rgba(0, 0, 0, .8);
      border-radius: .5em;
      bottom: 2em;
      color: #fff;
      content: 'No existe';
      display: block;
      left: 4em;
      padding: .3em 1em;
      position: absolute;
      text-shadow: 0 1px 0 #000;
      white-space: nowrap;
      z-index: 1000;
      user-select: none;
    }

    .o_data_cell.text-danger:hover:before {
      border: solid;
      border-color: #111 transparent;
      border-color: rgba(0, 0, 0, .8) transparent;
      border-width: .4em .4em 0 .4em;
      bottom: 1.6em;
      content: "";
      display: block;
      left: 5em;
      position: absolute;
      user-select: none;
      z-index: 99;
    }
  }
}


.consult_ruc {
  overflow: visible !important;
}

.search_ruc, .search_client{
    background: #013d90;
    border: none;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
}